.primary-nav__wrapper {
  position: relative;

  > .primary-nav {
    left: 0;
    position: absolute;
    top: rem(50px);
    width: 100%;
  }
}

.primary-nav__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @include bp(medium) {
    justify-content: space-around;
  }
}

.primary-nav__item {
  @include bp(none medium) {
    &:first-child,
    &:last-child {
      top: 0;
      position: absolute;
    }

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

.primary-nav__link {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: em(10px);
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &, &:hover {
    text-decoration: none;
  }

  &:after {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition:
      left .2s,
      width .2s;
    width: 0;
  }

  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }

  @include bp(none medium) {
    @include fs(tiny);
  }
}

.primary-nav__logo {
  &, > img {
    display: block;
  }

  > img {
    height: auto;
    transform: translateY(rem(-10px));
    width: rem(150px);
  }

  @include bp(medium) {
    > img {
      transform: translateY(rem(-10px));
      width: rem(200px);
    }
  }
}
