<nav class="primary-nav">
  <ul class="primary-nav__links">
    {% for link in links %}
    <li class="primary-nav__item">
      <a href="{{ link.url }}" class="primary-nav__link">{{ link.text }}</a>

      {% if link.children %}
      <ul class="primary-nav__dropdown">
        {% for link in link.children %}
        <li class="primary-nav__item">
          <a href="{{ link.url }}" class="primary-nav__link">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
