<nav class="primary-nav">
  <ul class="primary-nav__items">
    {% for link in links %}
    <li class="primary-nav__item">
      <a href="{{link.url}}" class="primary-nav__link">{{link.text}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
