<section class="l-teaser l-constrained--pad">
  <div class="l-teaser__thumb">
    {% block thumb %}
    {% endblock %}
  </div>

  <div class="l-teaser__content">
    {% block content %}
    {% endblock %}
  </div>
</section>
