.article {
  padding: 2rem 0;
}

.article-title {
  color: $teal;
  font-size: rem(24px);
  line-height: 1.25;
  margin: 0 0 .25em;
}

.article-metadata {
  color: $pink;
  font-size: rem(18px);
  text-transform: uppercase;
}

.article-content {
  padding: 2rem 0;

  @include breakpoint(800px) {
    display: flex;

    .main-col {
      flex: 3;
      margin-right: rem($g-gutter-half);
    }

    .side-col {
      flex: 1;
      margin-left: rem($g-gutter-half);
    }
  }
}

.block__title {
  color: $pink;
  font-family: $ff-heading;
  font-size: rem(18px);
  margin: 0 0 2rem;
  text-transform: uppercase;
}

.teaser-list {
  margin: 0;
  list-style: none;
  padding: 0;

  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.card {
  display: block;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &__thumbnail {
    > img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__content {
    background-color: $teal;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__title {
    color: #fff;
    font-family: $ff-body;
    font-size: rem(20px);
    font-weight: $fw-regular;
    line-height: 1.25;
    margin: 0;
    order: 1;
    text-transform: uppercase;
  }

  &__metadata {
    font-family: $ff-heading;
    font-size: rem(14px);
    margin: 0;
    order: 0;
    text-transform: uppercase;
  }

  @include breakpoint(500px) {
    &__content {
      bottom: 0;
      margin-bottom: 2rem;
      margin-right: rem(0 - $g-gutter-half);
      min-height: 50%;
      position: absolute;
      right: 0;
      width: 50%;
      width: calc(50% + #{rem($g-gutter-half)});
    }

    &__title {
      margin-top: auto;
    }
  }
}

.case-studies {
  list-style: none;
  margin: 0;
  padding: 0;

  &__study {
    background-color: $clr-text;
    position: relative;
  }

  &__study-image {
    display: block;
    height: auto;
    opacity: 1;
    transition: opacity .25s ease-out;
    width: 100%;
  }

  &__study-link {
    display: block;

    &:hover {
      .case-studies__study-image {
        opacity: .4;
      }

      .case-studies__study-title {
        margin-top: 0;
        opacity: 1;
      }
    }
  }

  &__study-title {
    color: #fff;
    font-family: $ff-heading;
    margin-top: 1.5rem;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    transition:
      opacity .25s ease-out,
      margin-top .25s ease-out;
    top: 50%;
    width: 100%;
    z-index: 1;
  }

  @include breakpoint(550px) {
    display: flex;
    flex-wrap: wrap;

    &__study {
      flex: .33333333;
    }
  }
}

.teaser-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: 0 auto 2rem;
    max-width: rem(400px);
  }

  @include breakpoint(960px) {
    display: flex;
    margin: 0 rem(0 - $g-gutter);

    &__item {
      flex: 1;
      margin: 0 rem($g-gutter);
    }
  }
}

[data-context="large"] {
  @include breakpoint(max-width 779px) {
    display: none;
  }
}

[data-context="small"] {
  @include breakpoint(780px) {
    display: none;
  }
}

.logo-wrapper {
  position: relative;
}

.site-logo {
  left: 50%;
  margin: 0;
  position: absolute;
  top: rem($g-gutter-half);
  transform: translateX(-50%);
}

.site-logo__link,
.site-logo__logo {
  display: block;
}

.site-logo__logo {
  height: auto;
  width: 150px;
}
