.c-profile {
  @include breakpoint(1000px) {
    margin: rem(-30px) rem(-50px);
  }
}

.c-profile__survey {
  counter-reset: survey_questions;
  margin: 0 0 2em;
  padding-top: 1em;

  &-question {
    margin-bottom: .25rem;
    padding-left: 1.25rem;
    position: relative;

    &:after {
      content: counter(survey_questions) ".";
      counter-increment: survey_questions;
      font-weight: $fw-bold;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &-answer {
    margin: 0 0 1.5rem 1.25rem;

    &[data-survey-type="text"] {
      border-bottom: 1px solid $clr-text;

      [data-profile="jennettik"] & {
        border-bottom: none;
        font-family: "Mathilde", $ff-sans;
        font-size: rem(40px);
        line-height: .75;
        margin-bottom: .75rem;
        padding: em(24px, 40px) 0 0;
        position: relative;

        &:after {
          border-bottom: 1px solid $clr-text;
          bottom: rem(12px);
          content: '';
          display: block;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      [data-profile="jnettik"] & {
        font-family: "Crystal Sky Caps", $ff-sans;
        font-size: rem(28px);
      }
    }
  }

  &-options {
    list-style: upper-alpha;
    margin: 0 0 0 1.25rem;
    padding: 0;
  }

  &-option {
    width: 50%;

    &.selected {
      position: relative;

      &:after {
        content: "O";
        position: absolute;

        [data-profile="jennettik"] & {
          font-family: "Mathilde", $ff-sans;
          font-size: rem(50px);
          left: em(-30px, 50px);
          top: em(-6px, 50px);
        }

        [data-profile="jnettik"] & {
          border: 1px solid $clr-text;
          border-radius: 50%;
          content: "";
          display: block;
          height: rem(20px);
          left: rem(-28px);
          transform: skew(-10deg);
          top: rem(2px);
          width: rem(20px);
        }
      }
    }
  }

  @include breakpoint(1000px) {
    column-count: 2;
    column-gap: 1em;

    &-item {
      break-inside: avoid;
    }

    &-options {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.c-profile__social {
  color: $pink;
  display: inline-block;
  font-family: $ff-heading;
  font-size: rem(14px);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}