<div class="c-profile" data-profile="jnettik">
  <p>Web developer, foodie, beer snob, and overall nerd.</p>

  <dl class="c-profile__survey">
        <div class="c-profile__survey-item">
      <dt class="c-profile__survey-question">If you were a fictional character, who would it be?</dt>
      <dd class="c-profile__survey-answer" data-survey-type="text">Luna Lovegood</dd>
    </div>

    <div class="c-profile__survey-item">
      <dt class="c-profile__survey-question">What's your spirit animal?</dt>
      <dd class="c-profile__survey-answer" data-survey-type="multiple">
        <ol class="c-profile__survey-options">
          <li class="c-profile__survey-option">Giraffe</li>
          <li class="c-profile__survey-option">Dog</li>
          <li class="c-profile__survey-option selected">Otter</li>
          <li class="c-profile__survey-option">Cat</li>
        </ol>
      </dd>
    </div>

    <div class="c-profile__survey-item">
      <dt class="c-profile__survey-question">Guiltiest pleasure:</dt>
      <dd class="c-profile__survey-answer" data-survey-type="text">Showtunes (I'm not sorry)</dd>
    </div>

    <div class="c-profile__survey-item">
      <dt class="c-profile__survey-question">If you had to eat only one food for the rest of your life, what would it be?</dt>
      <dd class="c-profile__survey-answer" data-survey-type="multiple">
        <ol class="c-profile__survey-options">
          <li class="c-profile__survey-option selected">Mac &amp; Cheese</li>
          <li class="c-profile__survey-option selected">French Fries</li>
          <li class="c-profile__survey-option selected">Pizza</li>
          <li class="c-profile__survey-option selected">Queso</li>
        </ol>
      </dd>
    </div>

    <div class="c-profile__survey-item">
      <dt class="c-profile__survey-question">Where is your happy place?</dt>
      <dd class="c-profile__survey-answer" data-survey-type="text">Wherever there are kitties.</dd>
    </div>

    <div class="c-profile__survey-item">
      <dt class="c-profile__survey-question">What's your favorite holiday to throw a party for?</dt>
      <dd class="c-profile__survey-answer" data-survey-type="text">Halloween!</dd>
    </div>
  </dl>

  <a href="https://www.instagram.com/jnettik/" class="c-profile__social">@jnettik for foodie photos and tech commentary</a>
</div>