<div class="c-profile">
  <p>Web developer, foodie, beer snob, and overall nerd.</p>

  <a href="https://www.instagram.com/jnettik/" class="c-profile__social">@jnettik for foodie photos and tech commentary</a>
</div>