<div class="c-profile">
  <p>Graphic designer by trade, party hostess by accident, and lifelong fan of love stories and anyone who steadfastly marches to the beat of their own drum. Self professed cat lady and sometimes cosplayer.</p>

  <a href="https://www.instagram.com/jennettik/" class="c-profile__social">@jennettik for cats and behind the scenes shenannies</a>
</div>