.masthead {
  align-items: center;
  background-color: $clr-masthead;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
