.project--title {
  @include adjust-font-size-to($fs-m);
  margin-bottom: em(12px);
  padding-bottom: em(14px);
  position: relative;
  text-align: center;

  // Divider
  &:before {
    background-color: $blue-grey;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    margin-left: em(-39px);
    position: absolute;
    width: em(78px);
  }
}

.project--category {
  color: $blue-grey;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.project__card {
  border: 1px solid #000;
  padding: 0 0 em(50px);
  position: relative;

  > figure {
    margin: -1px -1px em(26px);
    position: relative;

    // Triangle
    &:before {
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #fff;
      border-bottom-width: em(20px);
      border-left-width: em(24px);
      border-right-width: em(24px);
      border-top-width: em(20px);
      bottom: 0;
      content: '';
      display: block;
      left: 50%;
      margin-left: -24px;
      position: absolute;
    }
  }
}

.project--gallery--wrapper {
  @include breakpoint($bp-large) {
    @include grid-span(7, 1)
  }
}

.project--description {
  @include breakpoint($bp-large) {
    @include grid-span(5, 8);
  }
}

.project--description--label {
  @include adjust-font-size-to($fs-m);
  margin: 0;

  &:after {
    content: ":";
  }
}

.project--title__full {
  margin-bottom: em(25px, $fs-h2);
  text-align: center;

  @include breakpoint($bp-large) {
    margin-bottom: em(50px, $fs-h2);
  }
}

.project--gallery {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  figcaption {
    text-align: right;

    a {
      color: $blue-grey;
    }
  }
}

[id="project-full"] {
  margin-top: em(50px);
}

.project--full {
  margin-bottom: em(50px);
}

.project--full--close {
  appearance: none;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  display: block;
  font-size: em(24px);
  line-height: em(28px, 24px);
  height: em(32px, 24px);
  margin: 0 auto em(32px, 24px);
  outline: none;
  padding: 0;
  width: em(32px, 24px);
}
