<article class="card">
  {% include '@notched-figure' %}

  <h2 class="card__title">{{ title }}</h2>

  <h3 class="card__subtitle">{{ subtitle }}</h3>

  {%
    include '@button' with {
      'text': 'View',
      'href': '#',
      'classes': ['card__link']
    }
  %}
</article>
