.l-columns {
  align-items: center;
  display: flex;
  margin-left: rem(0 - $g-gutter-half);
  margin-right: rem(0 - $g-gutter-half);

  &--reverse {
    flex-flow: row-reverse;
  }
}

.l-columns__item {
  padding-left: rem($g-gutter-half);
  padding-right: rem($g-gutter-half);

  .l-columns--equal & {
    flex: 1;
  }
}
