{% set classes = ['l-columns', 'l-columns--' ~ count|default(2) ~ '-' ~ ratio|default('equal')] %}

<{{ element|default('div') }} class="{{ classes|join(' ') }}">
  {% for region in 1..count %}
    <div class="l-columns__item">
      {{ block('region_' ~ region)|raw }}
    </div>
  {% endfor %}
</{{ element|default('div') }}>
