<figure class="image-row">
  <ul class="image-row__items">
    {% for image in images %}
    <li class="image-row__item">
      <img src="{{ image.source }}" alt="{{ image.alt }}" class="image-row__image">
    </li>
    {% endfor %}
  </ul>

  {% if title %}
  <figcaption class="image-row__title">
    {{ title }}
  </figcaption>
  {% endif %}
</figure>
