.c-page-title {
  @include fs(page-title);
  display: inline-block;
  font-family: $ff-page-title;
  font-weight: 400;
  line-height: 2;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  span,
  strong {
    background-color: $clr-heading;
    color: #fff;
    padding: 10px 10px 5px;
  }
}
