<section class="cta-band">
  <h1 class="cta-band__title">{{ title }}</h1>
  <h2 class="cta-band__subtitle">{{ subtitle }}</h2>

  <a href="{{ button.href }}" class="button">{{ button.text }}</a>
</section>
