.button {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: -4px 0 0 #fff, 4px 0 0 #fff;
  bottom: em(-20px, $fs-m);
  color: #000;
  display: block;
  font-size: em($fs-m);
  left: 50%;
  margin-left: em(-50px, $fs-m);
  line-height: em(40px, $fs-m);
  padding: 0 em(30px, $fs-m);
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-color .25s, color .25s;

  &:hover,
  &:focus {
    border-color: $blue-grey;
    color: $blue-grey;
  }
}
