{% set class = ['c-action-list']|merge(classes|default([])) %}

{# Merge in flow options. #}
{% if flow %}
  {% set class = class|merge(['c-action-list--' ~ flow]) %}
{% endif %}

{# Merge in flow options. #}
{% if variant %}
  {% set class = class|merge(['c-action-list--' ~ variant]) %}
{% endif %}

{# Merge in flow options. #}
{% if classes %}
  {% set class = class|merge(classes) %}
{% endif %}

<div class="{{ class|join(' ') }}">
  <h2 class="c-action-list__title">{{ title }}</h2>

  {% if items %}
  <ul class="c-action-list__items">
    {% for item in items %}
    <li class="c-action-list__item">{{ item }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if button.content and button.href %}
  <div class="c-action-list__actions">
    {% include '../c-button/c-button.twig' with {
      content: button.content,
      href: button.href
    } only %}
  </div>
  {% endif %}
</div>
