.title--fancy {
  font-family: $ff-script;
  font-size: em(120px);
  margin: 0 0 -.6666666666em;
  padding-top: .3333333333em;
  text-transform: lowercase;
  transform: rotate(-5deg);
  transform-origin: left center;
}
