$font-size: 24px;

.c-cta-figure {
  border: 3px solid transparent;
  position: relative;

  &__media {
    width: 100%;
  }

  &__caption {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }

  &__link {
    background-color: #fff;
    color: $orange;
    display: inline-block;
    font-size: rem($font-size);
    line-height: 1;
    padding: em(8px, $font-size) em(24px, $font-size) em(4px, $font-size);
    text-decoration: none;
    text-transform: uppercase;
    transition:
      background-color .25s,
      color .25s;

    &:hover,
    &:focus {
      background-color: $orange;
      color: #fff;
      text-decoration: none;
    }
  }
}
