{% embed './default.twig' %}
  {% block content %}
    <section class="masthead">
      {%
        include '../styleguide/patterns/01-components/page-title/page-title.twig' with {
          'text': 'We believe in',
          'emphasized': 'celebrating you'
        }
      %}
    </section>

    {{ parent() }}
  {% endblock %}
{% endembed %}
