<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include './favicons.twig' %}
    <title>{{ title }} | {{ metadata.sitename }}</title>
    {% block metadata %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% endblock %}

    {% block js_head %}
    {% endblock %}
  </head>

  <body class="primary-nav__wrapper">
    {% block content %}
      {{ contents }}
    {% endblock %}

    {% include '../styleguide/patterns/01-components/cta-band/cta-band.twig' with {
      'title': 'Showers, Soirées, and Celebrations...',
      'subtitle': 'We\'ve got you',
      'button': {
        'text': 'Go Shopping',
        'href': '#'
      }
    } %}

    {% include '../styleguide/patterns/01-components/section-slogan/section-slogan.twig' with {
      'text': 'Love is all you need. Love, and a really great cocktail.'
    } %}

    {% include '../styleguide/patterns/01-components/primary-nav/primary-nav.twig' with metadata.menus.main_menu %}

    {% block js_body %}
    {% endblock %}
  </body>
</html>
