<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include './favicons.twig' %}
    <title>{{ title }} | {{ metadata.sitename }}</title>
    {% block metadata %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% endblock %}

    {% block js_head %}
    {% endblock %}
  </head>

  <body>
    <div class="l-constrained c-main-nav__wrapper">
      {% include '../styleguide/patterns/01-components/c-main-nav/c-main-nav.twig' with {
        links: metadata.menus.main_menu.links,
        current_path: path
      } only %}
    </div>

    {% block content %}
      {{ contents }}
    {% endblock %}

    {% block js_body %}
    {% endblock %}
  </body>
</html>
