<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ metadata.sitename }}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="/css/styles.css">
    {% endblock %}

    {% block js_head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
      {{ contents }}
    {% endblock %}

    {% block js_body %}
    {% endblock %}
  </body>
</html>
