<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include './favicons.twig' %}
    <title>{{ title }} | {{ metadata.sitename }}</title>
    {% block metadata %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% endblock %}

    {% block js_head %}
    {% endblock %}
  </head>

  <body class="primary-nav__wrapper">
    {% block content %}
      {{ contents }}
    {% endblock %}

    {% block js_body %}
    {% endblock %}
  </body>
</html>
