{% embed './default.twig' %}
  {% block content %}
    {# Place the page header. #}
    {% embed '../styleguide/patterns/01-components/c-billboard/c-billboard.twig' with { alignment: 'center' } %}
      {% block content %}
        {% include '../styleguide/patterns/01-components/c-title-ribbon/c-title-ribbon.twig' with { text_upper: 'Let&rsquo;s have', text_lower: 'fun together' } %}
      {% endblock %}
    {% endembed %}

    {# Place Homepage intro. #}
    {% embed '../styleguide/patterns/02-layouts/l-constrained/l-constrained.twig' %}
      {% block region %}
        {% embed '../styleguide/patterns/02-layouts/l-columns/l-columns.twig' with { count: 2, ratio: 'equal', element: 'section', flow: 'reverse', classes: ['u-pad'] } %}
          {% block region_1 %}
            {% include '../styleguide/patterns/01-components/c-text-block/c-text-block.twig' with { title_fancy: 'Hey!', title: 'We&rsquo;re Dearly, and we like to party.', content: '<p>Dearly Design Co. is a husband and wife team inspired by cocktails and confetti and fueled by coffee (and fur-baby cuddles). We provide stationery, paper goods and branding for modern brides, creative events and beautiful businesses.</p>' } only %}
          {% endblock %}
          {% block region_2 %}
            {% set figure %}
              {% include '../styleguide/patterns/01-components/c-cta-figure/c-cta-figure.twig' with {
                img_src: 'http://lorempixel.com/300/300/people/',
                img_alt: 'Alt text here',
                link_text: 'Meet Us',
                link_href: 'http://www.google.com'
              } only %}
            {% endset %}
            {% include '../styleguide/patterns/02-layouts/l-grid-list/l-grid-list.twig' with {
              columns: 2,
              items: [
                figure,
                figure,
                figure,
                figure
              ]
            } only %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}

    {% embed '../styleguide/patterns/02-layouts/l-teaser/l-teaser.twig' %}
      {% block thumb %}
        {% include '../styleguide/patterns/01-components/c-figure-fancy/c-figure-fancy.twig' with {
          media: '<img src="http://www.lorempixel.com/1024/1024" alt="Image">',
          caption: 'Weddings'
        } %}
      {% endblock %}

      {% block content %}
        {% include '../styleguide/patterns/01-components/c-action-list/c-action-list.twig' with {
          title: "Bold Design for the Modern Bride",
          items: [
            'Save the dates',
            'Invitation suites',
            'Programs &amp; Menus',
            'Day of paper goods',
            'Favors &amp Gifts',
            'Thank you cards',
            'RSVP websites',
            'Professional printing'
          ],
          button: {
            content: 'See More',
            href: 'http://www.google.com'
          }
        } %}
      {% endblock %}
    {% endembed %}

    {% embed '../styleguide/patterns/02-layouts/l-teaser/l-teaser.twig' with { flow: 'reverse' } %}
      {% block thumb %}
        {% include '../styleguide/patterns/01-components/c-figure-fancy/c-figure-fancy.twig' with {
          media: '<img src="http://www.lorempixel.com/1024/1024" alt="Image">',
          caption: 'Weddings'
        } %}
      {% endblock %}

      {% block content %}
        {% include '../styleguide/patterns/01-components/c-action-list/c-action-list.twig' with {
          title: "Creativity for inspired events",
          items: [
            'Save the dates',
            'Invitation suites',
            'Programs &amp; Menus',
            'Day of paper goods',
            'Favors &amp Gifts',
            'Thank you cards',
            'RSVP websites',
            'Professional printing'
          ],
          button: {
            content: 'See More',
            href: 'http://www.google.com'
          },
          flow: 'reverse'
        } %}
      {% endblock %}
    {% endembed %}

    {% embed '../styleguide/patterns/02-layouts/l-teaser/l-teaser.twig' %}
      {% block thumb %}
        {% include '../styleguide/patterns/01-components/c-figure-fancy/c-figure-fancy.twig' with {
          media: '<img src="http://www.lorempixel.com/1024/1024" alt="Image">',
          caption: 'Weddings'
        } %}
      {% endblock %}

      {% block content %}
        {% include '../styleguide/patterns/01-components/c-action-list/c-action-list.twig' with {
          title: "Stylish Branding for Beautiful Businesses",
          items: [
            'Save the dates',
            'Invitation suites',
            'Programs &amp; Menus',
            'Day of paper goods',
            'Favors &amp Gifts',
            'Thank you cards',
            'RSVP websites',
            'Professional printing'
          ],
          button: {
            content: 'See More',
            href: 'http://www.google.com'
          }
        } %}
      {% endblock %}
    {% endembed %}

    {% include '../styleguide/patterns/01-components/c-cta-banner/c-cta-banner.twig' with {
        title: "Showers, Soirées, and Celebrations...",
        subtitle: "we've got you",
        button: {
          href: "http://www.google.com",
          text: "Go Shopping"
        }
    } %}

    {% include '../styleguide/patterns/01-components/c-slogan/c-slogan.twig' with {
        text: "Love is all you need. Love, and a really great cocktail.",
    } %}
  {% endblock %}
{% endembed %}
