{% embed './default.twig' %}
  {% block content %}
    {# Place the page header. #}
    {% embed '../styleguide/patterns/01-components/c-billboard/c-billboard.twig' with { alignment: 'center' } %}
      {% block content %}
        {% include '../styleguide/patterns/01-components/c-title-ribbon/c-title-ribbon.twig' with { text_upper: 'Let&rsquo;s have', text_lower: 'fun together' } %}
      {% endblock %}
    {% endembed %}

    {# Place Homepage intro. #}
    {% embed '../styleguide/patterns/02-layouts/l-constrained/l-constrained.twig' %}
      {% block content %}
        {% embed '../styleguide/patterns/02-layouts/l-columns/l-columns.twig' with { count: 2, ratio: 'equal', element: 'section', flow: 'reverse', classes: ['u-pad'] } %}
          {% block region_1 %}
            {% include '../styleguide/patterns/01-components/c-text-block/c-text-block.twig' with { title_fancy: 'Hey!', title: 'We&rsquo;re Dearly, and we like to party.', content: '<p>Dearly Design Co. is a husband and wife team inspired by cocktails and confetti and fueled by coffee (and fur-baby cuddles). We provide stationery, paper goods and branding for modern brides, creative events and beautiful businesses.</p>' } only %}
          {% endblock %}
          {% block region_2 %}
            {% include '../styleguide/patterns/02-layouts/l-grid-list/l-grid-list.twig' with {
              columns: 2,
              items: [
                'item 1',
                'item 2',
                'item 3',
                'item 4'
              ]
            } only %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
