// Layout
//----------------------------------------------------------------------------
// Grid.
// @include add-grid(12);
// @include add-gutter(1/2);

// Width.
$w-gutter: 34px;
$w-gutter-half: $w-gutter / 2;
$w-full: 826px + $w-gutter;
