//
// @file
// Breakpoint variables.
//

//
// Typefaces.
//
$ff-mono:  monospace;
$ff-sans:  Sweet Sans Pro, Helvetica, Arial, sans-serif;
$ff-serif: Trend Slab One, Georgia, serif;
$ff-grunge: Brandon Printed Inline, $ff-sans;
$ff-script: Amber Light, script;

//
// Semantic fonts.
//
$ff-body:    $ff-sans;
$ff-heading: $ff-serif;
$ff-page-title: $ff-sans;
$ff-heading-alt: $ff-grunge;
$ff-display: $ff-heading;

//
// Base
//
$base-font-size:    18px;
$base-line-height:  1.5;

$font-sizes: (
  "none": (
    "page-title": 54px,
    "micro": 12px,
    "tiny": 14px,
    "label": 16px,
    "small": 18px 24px,
    "caption": 18px,
    "body": 20px,
    "subhead": 20px,
    "heading": 24px,
    "display": 32px,
    "headline": 54px,
    "mega": 48px
  )
);

//
// Font Weights
//
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-book: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

//
// Indentation.
//
$indent-amount: 3em !default;
